<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, user-scalable=no, minimal-ui">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <style>
        body {
            margin: 0 auto;
            width: 80vw;
            text-align: center;
            line-height: 1.5em;
            font-size: 1.2em;
        }

        ul {
            list-style: none;
            padding-left: 0;
            margin: 0;
            margin-top: 5em;
        }
    </style>
</head>

<body>

{{ content }}

</body>
</html>
